@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("/media/background.png");
	font-family: "Anton", "Courier New", Courier, monospace;
}

header {
	position: fixed;
	width: 100%;
	z-index: 100;
	color: whitesmoke;
	text-decoration-line: underline;
	text-align: center;
	background: rgba(82, 99, 171, 255);
	opacity: 0.75;
}

.title {
	font-size: 3.5rem;
	letter-spacing: 0.25em;
}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

/*this creates the three bars for my nav button*/
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: whitesmoke;
	height: 2px;
	width: 2em;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: "";
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}
/*end of nav button styling*/

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: rgba(82, 99, 171, 255);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: #aa7d78;
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

/*The color my nav links display when hovered over*/
nav a:hover {
	color: #6263ff;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 280ms;
}

/*Simply moving my main content down so its not covered by the nav*/
main {
	position: relative;
	top: 8em;
	color: whitesmoke;
	letter-spacing: 0.25em;
}

/*Turning all my individual cards into a display grid*/
.cheat-sheet-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 3em;
	margin: 0 2em;
}

.card {
	text-align: center;
	background: #aa7d78;
	padding: 2em;
	border-radius: 2em;
	opacity: 0.75;
}
.card-content {
	font-size: 1em;
}
